.bakalavr {

    &__list {
        column-count: 3;
        gap: 50px;
    }

    &__items {
        margin-bottom: 10px;
    }

    &__items-link.--active {
        border-bottom: 1px solid $titlecolor;
        @include hover;
    }

}

@media (max-width:880px) {
    .bakalavr {
        &__list {
            gap: 20px;
        }
    }
}

@media (max-width:880px) {
    .bakalavr {
        &__list {
            column-count: 2;
        }
    }
}

@media (max-width:540px) {
    .bakalavr {
        &__list {
            column-count: 1;
        }
    }
}