.message {
    @include fluidPaddingT(40px, 70px, 480px, 1024px, 70px);
    @include fluidPaddingB(40px, 70px, 480px, 1024px, 70px);
    position: relative;
    &::before {
        content: "";
        top: 0;
        left: -320px;
        position: absolute;
        height: 100%;
        width: 1920px;
        background-color: #FBFCFF;
        z-index: -1;
    }

    &__container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 3px 6px 20px 0px rgba(0, 0, 0, 0.15);
        padding: 40px 100px;
    }

    &__title {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 30px;

        span {
            color: $red;
            font-weight: 700;
        }
    }

}